.home__card {
  background-color: var(--accent-color-light);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  margin: var(--spacing-m);
  padding: var(--spacing-xxl) var(--spacing-xl);
  padding-bottom: 20vh;
  outline: 4px double var(--primary-color-dark);
  outline-offset: -20px;
  transform: translate(5%, 0%) rotate(-4deg);
  width: 40vw;
}

.home__card--title {
  font-size: clamp(1.8rem, 0.405rem + 2.88vw, 2.25rem);
  font-family: var(--font-family-accent);
  color: var(--primary-color-dark);
  text-align: center;
  margin-bottom: var(--spacing-m);
}

.home__card--item {
  border-top: 1px solid var(--primary-color-dark);
  padding: var(--spacing-m);
  cursor: pointer;
  color: var(--primary-color-dark);
}

.home__card--item:last-child {
  border-bottom: 1px solid var(--primary-color-dark);
}

.home__card--item:hover {
  background-color: var(--primary-color-dark);
  color: var(--accent-color-light);
}

.home__card--link {
  font-size: clamp(1.125rem, 0.725rem + 1.6vw, 1.75rem);
  font-variation-settings: "wght" 500, "slnt" -15, "CASL" 0.4, "CRSV" 1;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__card--link svg {
  margin-left: var(--spacing-m);
}

.card__image {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 400px;
  height: 400px;
  transform: rotateZ(4deg);
  object-fit: cover;
  border: 6px solid var(--color-white);
  opacity: 0;
  visibility: hidden;
}

/* ITINERARIES */

.card-list {
  margin-top: var(--spacing-l);
  display: flex;
  gap: var(--spacing-m);
  justify-content: space-between;
}
/* 
.card-list__grid {
  display: grid;
  grid-template-columns: ;
} */

.card-list__content {
  position: relative;
  width: 100%;
  width: 33vw;
  height: 45vh;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-m);
  border: 1px solid black;
}

/* .card-list__back {
  display: none;
} */

/* .card-list__front:hover {
} */

.card-list__content--img {
  width: 100%;
  height: 100%;
}

.card-list__content--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-list__content--top {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-m);
}

.card-list__content--text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  padding: var(--spacing-m);
  opacity: 0;
}

.card-list__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 769px) {
  .home__card {
    margin: 0;
    width: 80vw;
  }

  .card__image {
    display: none;
  }
}
