.hero__card {
  margin: var(--spacing-m);
  width: 500px;
  height: 70%;
  background-color: var(--accent-color-light);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--spacing-xxl) var(--spacing-xl);
  outline: 4px double var(--primary-color-dark);
  outline-offset: -20px;
  transform: translate(5%, 0%) rotate(-4deg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hero__card--title {
  font-family: var(--font-family-accent);
  color: var(--primary-color-dark);
  text-align: center;
  margin-bottom: var(--spacing-m);
}

.hero__card--item {
  border-top: 1px solid var(--primary-color-dark);
  padding: var(--spacing-m);
  cursor: pointer;
  color: var(--primary-color-dark);
}

.hero__card--item:last-child {
  border-bottom: 1px solid var(--primary-color-dark);
}

.hero__card--item:hover {
  background-color: var(--primary-color-dark);
  color: var(--accent-color-light);
}

.hero__card--link {
  font-size: 1.8em;
  font-variation-settings: "wght" 500, "slnt" -15, "CASL" 0.4, "CRSV" 1;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__card--link svg {
  margin-left: var(--spacing-m);
}

.card__image {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 400px;
  height: 400px;
  transform: rotateZ(4deg);
  object-fit: cover;
  border: 6px solid var(--color-white);
  opacity: 0;
  visibility: hidden;
}
