.itinerary__wrapper {
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
}

.etape__wrapper {
  width: 100%;
  height: 100vh;
  padding: var(--spacing-xxl);
  display: flex;
  align-items: center;
  justify-content: center;
}

.etape__postcard {
  background-color: var(--color-white);
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row-reverse;
  padding: var(--spacing-m);
  border-radius: var(--border-m);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  /* transform: rotate(2deg); */
}

.etape__content {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-l);
  padding-bottom: 0;
  width: 50%;
  border-left: 2px solid var(--primary-color-dark);
}

.etape__content--header {
  padding: var(--spacing-m) var(--spacing-s);
}

.detail {
  display: block;
  color: var(--secondary-accent-color);
  font-size: 0.8em;
  margin-bottom: var(--spacing-m);
  font-variation-settings: "wght" 400, "wdth" 100;
  text-transform: uppercase;
}

.etape__content--description {
  padding: var(--spacing-l) var(--spacing-s);
  flex-grow: 2;
  border-top: 2px solid var(--primary-color-dark);
  border-bottom: 2px solid var(--primary-color-dark);
}

.etape__content--footer {
  padding: var(--spacing-m) var(--spacing-s);
  padding-bottom: 0;
  font-size: 0.8em;
}

.detail--link {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-m);
}

.detail--link a {
  display: inline-block;
  position: relative;
  color: var(--secondary-accent-color);
  overflow: hidden;
}

.detail--link a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--secondary-accent-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.detail--link a:hover::before {
  transform: translateX(0%);
}

.etape__image {
  position: relative;
  overflow: hidden;
  margin-right: var(--spacing-m);
  width: 50%;
  border-radius: var(--border-m);
  mix-blend-mode: multiply;
}

.etape__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.links__wrapper {
  padding: var(--spacing-m);
  display: flex;
  justify-content: space-between;
  height: 20vh;
  margin-top: var(--spacing-xl);
}

/* Responsive card */
@media screen and (max-width: 1024px) {
  .etape__postcard {
    flex-direction: column-reverse;
  }

  .etape__content {
    padding: var(--spacing-m) 0;
  }

  .etape__content,
  .etape__image {
    width: 100%;
    border-left: none;
  }
}
