.section-divider {
  display: flex;
  max-width: 100%;
  border-top: 1px solid black;
  margin-top: var(--spacing-xxl);
  padding: var(--spacing-m);
  padding-left: 0;
  text-transform: uppercase;
  font-size: clamp(1em, 1.125em, 1.25em);
  font-variation-settings: "wght" 400, "wdth" 120;
  letter-spacing: 0.8px;
}

.spacer {
  height: calc(var(--spacing-xxl) * 2);
}

.vintage-divider {
  margin: var(--spacing-xxl) 0;
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--primary-color-dark);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-variation-settings: "wght" 450, "wdth" 210;
}

.vintage-divider svg {
  width: max(15vw, 100px);
  margin: 0 var(--spacing-m);
}

.vintage-divider.animation {
  animation-name: vintage-divider;
  animation-duration: 1s;
}
@keyframes vintage-divider {
  0% {
    clip-path: inset(100% 50% 0 50%);
  }
  50% {
    clip-path: inset(0% 50% 0% 50%);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

@media screen and (max-width: 478px) {
  .vintage-divider {
    flex-direction: column;
    gap: var(--spacing-m);
  }
}
