.header {
  padding-top: 5em;
  position: relative;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
}

.header__title {
  font-family: var(--font-family-accent);
  color: var(--color-white);
  font-weight: 300;
  text-transform: uppercase;
  font-size: clamp(3.5em, 10vw, 30em);
  display: block;
  text-align: center;
}

.header__subtitle {
  color: var(--color-white);
  text-transform: uppercase;
  font-variation-settings: "wght" 400, "wdth" 151, "opsz" 94;
  text-align: center;
}

.header__link {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  text-align: center;
  font-size: var(--text-base-size);
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  object-fit: cover;
  z-index: -1;
  overflow-clip-margin: 0px;
  overflow: hidden;
}

.section__title {
  height: 40%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  margin-bottom: var(--spacing-xxl);
  color: var(--primary-color-dark);
}

.section__text {
  font-size: calc(var(--text-base-size) * (pow(var(--text-scale-ratio), 1.5)));
}
