.header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-family: var(--font-family-accent);
  color: var(--color-white);
  font-weight: 300;
  text-transform: uppercase;
  font-size: clamp(3.5em, 10vw, 30em);
  display: block;
  text-align: center;
}

.header__subtitle {
  color: var(--color-white);
  text-transform: uppercase;
  font-variation-settings: "wght" 400, "wdth" 151, "opsz" 94;
}

.header__link {
  position: absolute;
  bottom: 2rem;
  font-size: var(--text-base-size);
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  object-fit: cover;
  z-index: -1;
  overflow-clip-margin: 0px;
  overflow: hidden;
}
