.marquee {
  background-color: var(--accent-color);
  position: relative;
  color: var(--primary-color-dark);
  padding: var(--spacing-m);
  text-transform: uppercase;
  overflow: hidden;
  font-variation-settings: "wght" 400, "slnt" -10, "CASL" 0.3, "CRSV" 0.5;
}

.marquee__inner {
  display: flex;
  width: fit-content;
  flex: auto;
}

.marquee__part {
  font-size: 6em;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
}
