.marquee {
  color: var(--primary-color-dark);
  margin-top: var(--spacing-xxl);
  overflow: hidden;
  padding: var(--spacing-m);
  text-transform: uppercase;
}

.marquee__inner {
  display: flex;
  width: fit-content;
  flex: auto;
}

.marquee__part {
  font-size: clamp(2rem, -0.56rem + 10.24vw, 6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
}
