.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-l) var(--spacing-m);
  z-index: 2;
}

.nav > div {
  flex: 1;
}

.nav__logo {
  font-variation-settings: "wght" 400, "wdth" 112.5;
  text-transform: uppercase;
  font-size: 1rem;
}

.nav__logo span {
  display: block;
}

.nav__toggle-button {
  display: flex;
  justify-content: flex-end;
}

.burguer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-m);
  background-color: rgba(25, 52, 128, 0);
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burguer::before,
.burguer::after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background-color: var(--primary-color);
  transition: all 250ms ease-out;
  will-change: transform;
}

.burguer::before {
  transform: translateY(-3px);
}

.burguer::after {
  transform: translateY(3px);
}

.active.burguer::before {
  transform: translateY(0) rotate(45deg);
}

.active.burguer::after {
  transform: translateY(0) rotate(-45deg);
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--primary-color-dark);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: transform;
  z-index: 1;
}

.nav__overlay--menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__overlay--menu-item {
  display: flex;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__overlay--menu-item p {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 5vw;
  line-height: 120%;
  font-variation-settings: "wght" 500, "wdth" 131, "GRAD" -78, "XTRA" 551, "YTUC" 651;
  transition: letter-spacing 0.3s;
}

.nav__overlay--menu-item p:hover {
  letter-spacing: 0.075em;
}

.nav__overlay--menu-item p::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  transform-style: translateY(-50%);
  background-color: var(--accent-color);
  width: 0;
  height: 6px;
}

.nav__overlay--menu-item p:hover::after {
  width: 100%;
}

.nav__link {
  text-decoration: none;
  color: var(--primary-color);
}
