.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-m);
  z-index: 3;
}

/* .nav > div {
  flex: 1;
} */

.nav__logo {
  width: min(20vw, 200px);
}

.nav__toggle-button {
  display: flex;
  justify-content: flex-end;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-m);
  background-color: rgba(25, 52, 128, 0);
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background-color: var(--primary-color-dark);
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger::before {
  transform: translateY(-3px);
}

.burger::after {
  transform: translateY(3px);
}

.active.burger::before {
  transform: translateY(0) rotate(45deg);
  background-color: var(--primary-color);
}

.active.burger::after {
  transform: translateY(0) rotate(-45deg);
  background-color: var(--primary-color);
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--primary-color-dark);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.3s ease-out;
  will-change: transform;
  z-index: 1;
}

.nav__preview-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  opacity: 0; /* inicialmente invisible */
}

.nav__overlay--menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__overlay--menu-item {
  display: flex;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__overlay--menu-item a {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 5vw;
  line-height: 120%;
  font-variation-settings: "wght" 500, "wdth" 131, "GRAD" -78, "XTRA" 551, "YTUC" 651;
  transition: letter-spacing 0.3s;
}

.nav__overlay--menu-item a:hover {
  letter-spacing: 0.075em;
}

.nav__overlay--menu-item a::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  transform-style: translateY(-50%);
  background-color: var(--accent-color);
  width: 0;
  height: 6px;
}

.nav__overlay--menu-item a:hover::after {
  width: 100%;
}

.nav__link {
  text-decoration: none;
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .nav__logo {
    width: min(30vw, 150px);
  }
}
@media screen and (max-width: 479px) {
  .nav__logo {
    width: min(40vw, 150px);
  }
}
