.section {
  padding: var(--spacing-m);
  width: 100%;
  margin: var(--spacing-m) 0;
}

/* ABOUT PAGE */

.presentation__wrapper {
  display: grid;
  padding: var(--spacing-m);
  gap: var(--spacing-l);
  grid-template-columns: repeat(auto-fill, minmax(max(300px, 100%/ (3 + 1) + 0.1%), 1fr));
}

.presentation__article {
  margin-top: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  color: var(--primary-color-dark);
}

.presentation__article--header {
  margin: var(--spacing-m) 0;
}

.text-column__wrapper {
  columns: 3 150px;
  column-gap: var(--spacing-xl);
}
