.main {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  padding: var(--spacing-m);
  width: 100%;
  margin: var(--spacing-m) 0;
}

/* .s-heading {
  height: 20vh;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */
