h1 {
  --font-increase: 6;
  font-variation-settings: "wght" 600, "wdth" 151, "GRAD" -78, "XTRA" 551, "YTUC" 651;
  text-transform: uppercase;
}

h2 {
  --font-increase: 5;
  font-variation-settings: "wght" 450, "wdth" 110;
}

h3 {
  --font-increase: 4;
  font-variation-settings: "wght" 450, "wdth" 110;
}

h4 {
  --font-increase: 3;
  font-variation-settings: "wght" 400, "wdth" 112.5;
}

h5 {
  --font-increase: 2;
}

h6 {
  --font-increase: 1;
  font-variation-settings: "wght" 400, "wdth" 112.5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-base);
  font-size: calc(var(--text-base-size) * (pow(var(--text-scale-ratio), var(--font-increase))));
}

p,
a {
  font-size: var(--text-base-size);
  font-variation-settings: "wght" 450, "wdth" 100;
  line-height: 1.5;
}

.text-column__title {
  border-bottom: 1px solid var(--color-black);
  margin: 1.5rem 0;
}
