:root {
  /* TODO: ESTABLECER COLORES */
  --color-white: #fff;
  --primary-color: #91cef1;
  --primary-color-dark: rgb(25, 82, 128);
  --accent-color: #febd8c;
  --accent-color-light: #fee5d3;
  --accent-color-dark: #755741;

  --font-family-base: "Roboto Flex", sans-serif;
  --font-family-accent: "the-seasons", serif;

  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  --line-height-base: 1.6;

  /* Spacing */
  --spacing-xxl: 4em;
  --spacing-xl: 3em;
  --spacing-l: 2em;
  --spacing-m: 1em;
  --spacing-s: 0.5em;
  --spacing-xs: 0.25em;

  /* Border-radius */
  --border-l: 2em;
  --border-m: 1em;
}

@media (min-width: 64rem) {
  /* responsive decision applied to all text elements min-width 1024px */
  :root {
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.33;
  }
}

@media (max-width: 48rem) {
  /* responsive decision applied to all text elements min-width 1024px */
  :root {
    --text-scale-ratio: 1.2;
  }
}
