:root {
  --color-white: #fff;
  --color-black: #222222;
  --primary-color: #91cef1;
  --primary-color-dark: #19527d;
  --accent-color: #febd8c;
  --accent-color-light: #fee5d3;
  --accent-color-xlight: #ffefe3;
  --accent-color-dark: #755741;
  --secondary-accent-color: #d74c4c;

  --font-family-base: "Roboto Flex", sans-serif;
  --font-family-accent: "the-seasons", serif;

  --text-base-size: 1em;
  --text-scale-ratio: 1.125;
  --line-height-base: 1.5;

  /* Spacing */
  --spacing-xxl: 4em;
  --spacing-xl: 3em;
  --spacing-l: 2em;
  --spacing-m: 1em;
  --spacing-s: 0.5em;
  --spacing-xs: 0.25em;

  /* Border-radius */
  --border-l: 2em;
  --border-m: 1em;
}

@media (min-width: 64rem) {
  /* responsive decision applied to all text elements min-width 1024px */
  :root {
    --text-base-size: 1.2em;
    --text-scale-ratio: 1.2;
  }
}

@media (max-width: 48rem) {
  /* responsive decision applied to all text elements max-width 768 */
  :root {
    --text-scale-ratio: 1.125;
  }
}
