/* SIZES */
.h-100 {
  height: 100vh;
}

/* SPACING */
.p-m {
  padding: var(--spacing-m);
}
.p-l {
  padding: var(--spacing-l);
}
.p-xl {
  padding: var(--spacing-xl);
}

/* FLEX */
/* FLEX JUSTIFICATION */
.fjc-star {
  justify-content: flex-start;
}
.fjc-center {
  justify-content: center;
}
.fjc-end {
  justify-content: flex-end;
}

/* FLEX ALIGN */
.fai-center {
  align-items: center;
}

/* OTHERS */

.u-circle {
  font-size: 1em;
  font-variation-settings: "wght" 400, "wdth" 112.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border: 1px solid black;
  border-radius: 50%;
}
